html,
body {
  background-color: #f0f0e6;
}
#game {
  max-width: 405px;
  margin: 0 auto;
}
.dot {
  fill: #56524f;
  stroke: #a7dbd8;
  stroke-width: 0;
  transition: all 0.2s;
}
.dot:hover {
  stroke-width: 5;
}
.line {
  stroke: #56524f;
  stroke-width: 5;
}
/*#F0F0E6*/
/*#56524F*/
/*
#E0E4CC,#F38630,#FA6900,#A7DBD8,#69D2E7
*/
/*
#8C867A,#AB9F77,#8B628A,#A879AF,#B4A3CF,#8C867A,#AB9F77,#8B628A
*/
/*
#ECD078,#D95B43,#C02942,#542437,#53777A,#ECD078,#D95B43,#C02942
*/
/*
#FE4365,#FC9D9A,#F9CDAD,#C8C8A9,#83AF9B,#FE4365,#FC9D9A,#F9CDAD
*/
/*
#E8DDCB,#CDB380,#036564,#033649,#031634,#E8DDCB,#CDB380,#036564
*/
/*
#556270,#4ECDC4,#C7F464,#FF6B6B,#C44D58,#556270,#4ECDC4,#C7F464
*/
